<main style="margin-top: 2rem; margin-left: 1rem" class="flex-row">
  <section>
    <div class="time-table" *ngFor="let hour of hours">
      <span>{{ hour }}</span>
    </div>
  </section>

  <section class="grid flex-row">
    <div class="vertical-line"></div>
    <div>
      <div class="horizontal-line" *ngFor="let hour of hours"></div>
    </div>
    <div
      class="event"
      [style.top.px]="event.startDateTopPixelValue"
      [style.height.px]="event.endDateHeightPixelValue"
    >
      <span>{{ event.title }},</span>
      <span
        >{{ event.startDate | dateToHoursAndMinutes }}-{{
          event.endDate | dateToHoursAndMinutes
        }}</span
      >
    </div>

    <div
      class="time-now-red-dot"
      [style.top.px]="timeNowLineTopPixelsValue"
    ></div>
    <div
      class="time-now-red-line"
      [style.top.px]="timeNowLineTopPixelsValue"
    ></div>
  </section>
</main>
