<mat-toolbar class="flex-row align-space-between-center">
  <section class="flex-row" style="align-items: center">
    <button mat-icon-button (click)="sidenavToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>August</span>
    <mat-icon class="mat-18">arrow_drop_down</mat-icon>
  </section>

  <section class="flex-row" style="align-items: center">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>event</mat-icon>
    </button>
    <img
      src="assets/images/profile2.jpg"
      alt="profile-image"
      class="profile-image"
    />
  </section>
</mat-toolbar>
