<!-- <section class="flex-row">
  <img
    src="assets/images/profile2.jpg"
    alt="profile-image"
    class="profile-image"
  />
  <p class="user-name">Christian Kätkä</p>

  <p>2 EUR</p>

  <mat-icon>arrow_forward_ios</mat-icon>
</section>
<mat-divider></mat-divider> -->

<main>
  <section class="flex-row align-space-between-center">
    <div class="flex-row align-center-center">
      <img
        src="assets/images/profile1.jpg"
        alt="profile-image"
        class="profile-image"
      />
      <p class="user-name">Johny James</p>
    </div>

    <div class="flex-row align-center-center">
      <p class="money-value">3 EUR</p>

      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </section>
</main>

<main>
  <section class="flex-row align-space-between-center">
    <div class="flex-row align-center-center">
      <img
        src="assets/images/profile1.jpg"
        alt="profile-image"
        class="profile-image"
      />
      <p class="user-name">Johny James</p>
    </div>
    <div class="flex-row align-center-center">
      <p class="money-value">3 EUR</p>

      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </section>
</main>

<mat-divider></mat-divider>
<main>
  <section class="flex-row align-space-between-center">
    <div class="flex-row align-center-center">
      <img
        src="assets/images/profile2.jpg"
        alt="profile-image"
        class="profile-image"
      />
      <p class="user-name">Christian Kätkä</p>
    </div>
    <div class="flex-row align-center-center">
      <p class="money-value">2 EUR</p>

      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </section>
</main>
<mat-divider></mat-divider>
<main>
  <section class="flex-row align-space-between-center">
    <div class="flex-row align-center-center">
      <img
        src="assets/images/profile1.jpg"
        alt="profile-image"
        class="profile-image"
      />
      <p class="user-name">Johny James</p>
    </div>
    <div class="flex-row align-center-center">
      <p class="money-value">3 EUR</p>

      <mat-icon>arrow_forward_ios</mat-icon>
    </div>
  </section>
</main>
<mat-divider></mat-divider>
