@use "../../styles/variables/" as *;

main {
  background: linear-gradient(to bottom, #daecfe, #feffea);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;

  section {
    padding-top: 1rem;
  }
}

p {
  margin: 0;
}

h1 {
  color: #4e5d6a;
}

mat-icon {
  color: #4e5d6a;
}
button {
  color: #4e5d6a !important;
  border-radius: 0 6px 6px 0;
}

main + * {
  margin-left: 250px; // Adjust this value to match the width of your side navigation bar
}
