<!-- <app-side-navbar
  [theAmountOfSpaceSideNavTakes]="theAmountOfSpaceSideNavTakes"
></app-side-navbar> -->
<!-- <main [style.margin-left]="theAmountOfSpaceSideNavTakes"> -->
<section>
  <app-open-snack-bar></app-open-snack-bar>
  <app-space-giver></app-space-giver>
  <button mat-raised-button routerLink="/calendar">open calendar</button>
  <app-space-giver></app-space-giver>
  <app-online-shop></app-online-shop>
  <app-space-giver></app-space-giver>
  <app-user-list></app-user-list>
  <app-space-giver></app-space-giver>
  <app-error-box></app-error-box>
  <app-space-giver></app-space-giver>
  <app-select-file></app-select-file>
  <app-space-giver></app-space-giver>
  <app-info-box></app-info-box>
  <app-space-giver></app-space-giver>
  <app-b-card></app-b-card>
  <app-space-giver></app-space-giver>
  <app-profile-image-with-text-2></app-profile-image-with-text-2>
  <app-space-giver></app-space-giver>
  <app-profile-image-with-text-1></app-profile-image-with-text-1>
  <app-space-giver></app-space-giver>
  <app-text-list></app-text-list>
  <app-space-giver></app-space-giver>
  <app-icon-button-with-text></app-icon-button-with-text>
</section>
<!-- </main> -->
